.custom-color{
	background-color: #FFAEC9;
	padding: 10px 0;
	margin-bottom: 10px;
}
.bgc{
	background-color: #92D2E9;
	min-height: 50px;
}
.col-mb{
	margin-bottom: 10px;
}
.red{
	background-color: red;
}